@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Qwitcher+Grypen&family=Roboto:wght@300;400&display=swap');

/* font-family: 'Qwitcher Grypen', cursive; */
/* font-family: 'Pacifico', cursive; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-color: #F0F8FF;
    color: rgb(0, 0, 0);

}

header{
    width: 100%;
    height: 60px;
}

.nav1{

    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    background-color:  #003060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 2px 0px 3px;
    color: rgb(255, 255, 255);
   
}

.nav1 span{
    font-family: 'Roboto', sans-serif ;
    font-size: larger;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.nav1 i{
    color: rgb(255, 255, 255);
    font-size:45px;
    font-weight: bolder;
    padding-right: 20px;
}

.left{
    font-family: 'Roboto', sans-serif ;
    font-size: larger;
    display: flex;
    justify-content:left;
    align-items: center;
}


.left a{
    font-size: small;
    display: flex;
    color: rgb(59, 209, 255);
 
}

.left a:hover{

    zoom: 90%;
}

.left p{
    
    padding: 0px 5px;
    font-size: small;
    
}

.navlogo{
    width: 65px;
    margin-left: 15px;
    margin-right: 8px;
}

.right{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}

.right img{
    height: 25px;
    width: 25px;
    margin-left: 15px;
}

.right img:hover{
    zoom: 140%;
    cursor: pointer;
}


.menu1{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  /* font-family: 'Pacifico', cursive; */
  background-color: rgb(245, 253, 255);
  
}

.menu1 a{
  color: #003060;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.menu1 a:hover{
  zoom: 95%;
}

.menu1 img{
  margin-right: 5px;
  margin-left: 20px;
}


.menu2{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  /* font-family: 'Pacifico', cursive; */
  background-color: rgb(245, 253, 255);
  
}

.menu2 a{
  color: #003060;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.menu2 a:hover{
  zoom: 95%;
}

.menu2 img{
  margin-right: 5px;
  margin-left: 20px;
}


.bg{
  /* background-color: aqua; */
  height: 110vh;
  text-align: center;
  font-family: 'Pacifico', cursive;
  background:url(https://images.unsplash.com/photo-1546435770-a3e426bf472b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1465&q=80) no-repeat ;
  background-size: 100% 100%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.bg_text{
  color: #003060;
  padding: 10px 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin: 0 10%;
  font-size: 15px;
}

/*
.
.
.
.
Strat of cards
.
.
.
.
.
*/
.speakers{
  padding: 50px 50px;
}

.productIntro{
  text-align: center;
}

.productIntro h1{
  color: #003060;
  font-size: 2.5rem;
  font-weight: bolder;
  /* font-family: 'Pacifico', cursive; */
}

.productIntro p{
  color: #464646;
  /* font-family: 'Pacifico', cursive; */
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 ;
}

.container .card{
  flex-basis: 22%;
  cursor: pointer;
  padding: 0.8rem;
  position: relative;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-align: center;
  background-color:#f9feff ;
}

.card img{
  width: 100%;
  transition: 0.5s ease-in-out;
}

.card i{
  color: rgb(255, 198, 55);
  margin: 10px 0;
}

.card button{
  padding: 8px 40px;
  border: none;
  outline: none;
  background-color: #003060;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  cursor: pointer;
  margin-top: 15px;

}

.card img:hover{
  width: 90%;
} 

.card h1{
  font-size: 20px;
}
.card h1:hover{
  color: #003060;
}

.card::before{
  content: '20% off';
  width: 25%;
  height: 25px;
  line-height: 25px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #003060;
  padding: 0px 4px;
  transform: rotate(-20deg);
}


#popular .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: rgba(218, 244, 255, 0.911); */
}

#popular .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

#popular .swiper-slide img {
  display: block;
  width: 100%;
}

footer{
  height: 150px;
  background-color: #003060;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  
}
footer i{
  margin-right: 8px;
}
footer i:hover{
  zoom: 120%;
  cursor: pointer;

}

footer div{
  flex-basis: 30%;
}

.footertitle{
  text-decoration: underline;
}

/*
*
*
*
Media QUERIES
*
*
*
*/
@media only screen and (max-width:1280px){
  body{
    width: 100%;
  }

  .card::before{
    
    height: 50px;
    
  }

}

@media only screen and (max-width:855px){
 

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card{
    margin-top: 50px;
    margin-left: 30px;
    
  }

  .bg{
    background: url(Imgs/bg1.avif) no-repeat;
    background-size: 100% 100%;
  }
  
}


@media only screen and (max-width:645px){
  .nav1 i{
    font-size: large;
  }

  .featured {
    margin-top: 0;
  }

  .bg{
    background: url(Imgs/bg45.jpg) no-repeat;
    background-size: 100% 100%;
  }

  .bg_text{
    color: #161616;
  }
}

@media only screen and (max-width:530px){
  .featured_text{
    margin-top: 30%;
  }

  .container .card{
    flex-basis: 30%;
  }



}

@media only screen and (max-width:480px){
 .nav1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
 }

 .menu1{
  margin-top: 40px;
 }



 



}

@media only screen and (max-width:493px){
  .menu1{
    height: 100px;
  }
}

@media only screen and (max-width:435px){
  footer{
    height: 250px;

  }
}

@media only screen and (max-width:405px){

  .menu2{
    height: 90px;
  }
}


@media only screen and (max-width:393px){

  .bg{
    margin-top: 80px;
  }
  .menu2{
    height: 10px;
  }
}



@media only screen and (max-width:329px){

  .card button{

    font-size: medium;
    padding: 5px 20px;
   
  
  }

}

@media only screen and (max-width:330px){

  .bg{
    background: url(Imgs/bg312.jpg) no-repeat;
    background-size: 100% 100%;
  }

  
}


